/* additional colors to use #A8DADC (seafoam blue) and #E63946 (red) */

/* header styling */


/* body styling */
.container--whole-page {
  /* border: .5em solid black; */
  color: #F1FAEE;
  display: flex;
  font-family: Haettenschweiler, sans-serif;
  flex-direction: row;  
  white-space: nowrap;
  width: 98vw;
}

.column {
  align-items: center;
  border: .25em solid black;
  display: flex;
  flex-direction: column;
  height: 98vh;
}

.container--outer-column {
  background-color: #1D3557;
  width: 20vw;
}

.container--center-column {
  background-color: #457B9D;
  /* border: .5em solid black; */
  width: 60vw;
}

 .container--game-play-area {
  /* border: black 2px solid; */
  background-color: #457B9D;
  display: flex;
  /* justify-items: flex-end; */
  height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  
}

/* .container--game-cards {
  border: 5px black solid;
  display: flex-block;
  align-content: space-around;
  justify-content: center;
} */

.card--game-selector {
  background-color: #A8DADC;
  border: 25px #457B9D solid;
  color: #F1FAEE;
  display: flex;
  height: 25vh;
  width: 25vh;
  flex-direction: column;
  align-items: center;
}


h1 {
  font-family: 'Monofett';
  font-size: 10vh;
  margin-bottom: 5%;
  display:inline-flex
}

h2 {
  font-size: 5vh;
  margin: 0% auto
}

p {
  font-size: 3vh;
}

/* .player-info {
  align-items: center;
  display: flex;
  flex-direction: column;
} */
